.accordion {
  overflow:hidden;
  font-family: $font-main;
  font-weight: 400;

  a, a:hover, a:active, a:visited {
    color: $white;
    text-decoration: none;
  }

}

.accordion-section {
  @include borderRadius(10px, 10px, 10px, 10px);
  padding: 5px;
}

.accordion-section-title {
  @include linearGradient(#0C3683, #03183F);
  @include borderRadius(10px, 10px, 10px, 10px);
  width: 100%;
  padding: 15px;
  display: inline-block;
  font-size: 1.500em;
  color: $white;

  .right {
    float: right;
  }
}

.accordion-section-title.active {
  @include borderRadius(10px, 10px, 0px, 0px);
  color: $white;
  text-decoration:none;
}

.accordion-section-content {
  @include borderRadius(0px, 0px, 10px, 10px);
  padding:15px;
  display:none;
  background: $white;

  .card-summary {
    padding: 15px;

    .card-img {
    }

    .card-info {
      font-size: 1em;
    }

    .card-cashback {
      border-left: solid 2px $light-gray;
      text-align: center;

      .info {
        font-size: 2.4vw;
        font-weight: 900;
        padding-bottom: 0px;

        @media only screen and (min-width : 480px) {
          font-size: 20px;
        }
      }

      .currency {
        font-size: 3vw;
        padding-top: 0px;
        margin-top: -10px;
        font-weight: 900;
      }
    }
  }
}
