.accordion {
  overflow:hidden;
  font-family: $font-main;
  font-weight: 400;

  a, a:hover, a:active, a:visited {
    color: $white;
    text-decoration: none;
  }

}

.accordion-section {
  @include borderRadius(10px, 10px, 10px, 10px);
  padding: 5px;
}

.accordion-section-title {
  @include linearGradient($light-blue, $dark-blue);
  @include borderRadius(10px, 10px, 10px, 10px);
  width: 100%;
  padding: 15px;
  display: inline-block;
  font-size: 1.500em;
  color: $white;

  .right {
    float: right;
  }
}
.accordion-section-title:hover {
  @include linearGradient($dark-blue, $light-blue);
}

.accordion-section-title.active {
  @include borderRadius(10px, 10px, 0px, 0px);
  color: $white;
  text-decoration:none;
}

.accordion-section-content {
  @include borderRadius(0px, 0px, 10px, 10px);
  padding:15px;
  display:none;
  background: $white;

  .card-summary {
    padding: 15px;

    .card-img {
    }

    .card-info {
      font-size: 1em;
    }

    .card-cashback {
      border-left: solid 2px $light-gray;
      padding: left;

      .info {
        font-size: 2.2vw;
        font-weight: 900;
        padding-bottom: 0px;
        text-align: center;
      }

      .currency {
        font-size: 3vw;
        padding-top: 0px;
        margin-top: -10px;
        font-weight: 900;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width : 991px) {
  .accordion-section-content .card-summary .card-cashback {
    border-top: solid 2px $light-gray;
    border-left: solid 0px $white;
    margin-top: 20px;

    .info {
      font-size: 20px;
    }

    .currency {
      font-size: 25px;
    }
  }
}

@media only screen and (max-width : 450px) {
  .accordion-section-content .card-summary .card-cashback {

    .info {
      font-size: 15px;
    }

    .currency {
      margin-top: 0px;
      font-size: 15px;
    }
  }
}
