@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,900);

$offwhite:    #EEE8D6;
$white: #fff;
$background-blue: #004A8E;
$light-blue: #0C3683;
$dark-blue: #03183F;
$main-green: #87BE48;
$light-gray: #D3D3D3;

$font-main: 'Source Sans Pro', sans-serif;
